{% extends "layout.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <p class="header_title"></p>
        <p class="top_text">Enter Cafe ID & PW</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="naver_id_area">
                <div class="input_area">
                    <label class="label" for="p_naverid">아이디
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="아이디를 입력하세요" class="input" required id="p_naverid" name="p_naverid" type="text" />
                </div>
                <div class="input_area">
                    <label class="label" for="p_naverpw">비밀번호
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="비밀번호를 입력하세요" type="text" class="input" required id="p_naverpw" name="p_naverpw" type="text" />
                </div>
            </div>
        </form>          
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
