{% extends "layout.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <p class="header_title"></p>
        <p class="top_text">PostWrite1</p>
        <form action="{% url 'app:CafeCategoryGetP' %}" method="POST" id="naverIdForm">
            {% csrf_token %}
            <div class="naver_id_area">
                <div class="input_area">
                    <label class="label" for="p_naverid">아이디
                        <span class="required-field">*</span>
                    </label>
                    <input value="{{ id }}" />
                </div>
                <div class="input_area">
                    <label class="label" for="p_naverpw">비밀번호
                        <span class="required-field">*</span>
                    </label>
                    <input value="{{ pw }}" />
                </div>
            </div>

                
            <select name="cafeHrefs" id="cafeHrefs">
                {% for href, name in cafe_zip %}
                <option value="{{ href }}">{{ name }}</option>
                {% endfor %}
            </select>

            <input class="bbtn" type="submit" id="naverLogin" value="로그인" />

        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
